.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  color: #111111;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.title__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
}

.title__block img {
  display: block;
  width: auto;
  height: 200px;
}

.title__block-text {
  font-weight: 700;
  max-width: 580px;
}

.title__block-text h1 {
  font-size: calc(30px + 30 * ((100vw - 320px) / 980));
  text-transform: uppercase;
}

.title__block-text p {
  margin-top: 15px;
}

.title__block-revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  text-align: right;
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo {
  position: relative;
  bottom: -14px;
}

.header__logo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__nav {
  min-width: 52.311%;
}

.header__nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-link {
  font-size: calc(16px + 2 * ((100vw - 320px) / 980));
  font-weight: 500;
  margin: 0px 10px 0px 10px;
}

.header__nav-link a {
  color: #111111;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.header__nav-link a:hover {
  color: #03a9f4;
}

.header__nav-link:first-child {
  margin-right: 10px;
}

.header__nav-link:last-child {
  margin-left: 10px;
}

.header__social {
  min-width: 12.24%;
}

.header__social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__social-icon {
  height: 28px;
  width: 28px;
  display: block;
  fill: #03a9f4;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.header__social-icon:hover {
  fill: #0e3cac;
}

.header.sticky {
  background: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.intro {
  background: url("../img/iconsprite/elipse.svg") 50% 100%/cover no-repeat;
  min-height: 815px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
  margin-top: 50px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 625px;
  min-width: 33.333%;
  width: 100%;
}

.intro__column a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.intro__demo-link {
  background-color: #ff8700;
  padding: 20px 0px;
  border-radius: 27px;
  width: 100%;
  max-width: 220px;
  -webkit-box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
          box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro__demo-link:hover {
  -webkit-transform: translatey(10px);
      -ms-transform: translatey(10px);
          transform: translatey(10px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.intro__demo-link:active {
  opacity: 0.7;
}

.intro__column-midle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.intro__column-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__column-link {
  width: 100%;
  max-width: 140px;
  margin: 35px 0px;
  padding: 20px 0px;
  border-radius: 27px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 40px rgba(1, 1, 1, 0.3);
          box-shadow: 0px 8px 40px rgba(1, 1, 1, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.intro__column-link:first-child {
  max-width: 220px;
}

.intro__column-link:hover {
  -webkit-transform: translatey(10px);
      -ms-transform: translatey(10px);
          transform: translatey(10px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.intro__column-link:active {
  opacity: 0.7;
}

.intro__column-link a {
  color: #111111;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 65px;
}

.about__column {
  max-width: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column img {
  display: block;
  height: auto;
  width: 100%;
}

.about__textarea {
  background-color: #fff;
  padding: 60px 50px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 16px;
  letter-spacing: 0.9px;
  -webkit-box-shadow: 10px 10px 90px rgba(1, 1, 1, 0.1);
          box-shadow: 10px 10px 90px rgba(1, 1, 1, 0.1);
  position: relative;
  top: 50px;
  left: -40px;
  min-width: 615px;
}

.about__link {
  background: url("../img/iconsprite/circle.svg") left no-repeat;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #ff8700;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: -40px;
  left: -40px;
}

.about__link img {
  height: 25px;
  width: 25px;
  padding: 6px 5px 6px 7px;
  background-color: #ff8700;
  border-radius: 50%;
  margin-left: 15px;
  -webkit-box-shadow: 0 0 10px rgba(255, 134, 0, 0.5);
          box-shadow: 0 0 10px rgba(255, 134, 0, 0.5);
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.about__link:hover img {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}

.benefits {
  padding: 100px 0px;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item {
  width: 100%;
  max-width: 20%;
  margin: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item img {
  margin-bottom: 20px;
}

.benefits__item p {
  font-size: calc(14px + 2 * ((100vw - 320px) / 980));
  font-weight: 500;
  line-height: 1.2;
}

.statistics {
  background-color: #0138b3;
  padding: 150px 0px;
}

.statistics__inner {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics__column-w60 {
  width: 100%;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3768d9;
  min-width: 40%;
  max-width: 310px;
  min-height: 250px;
  padding: 50px;
  margin: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(1, 1, 1, 0.3);
          box-shadow: 0 0 20px rgba(1, 1, 1, 0.3);
}

.statistics__item-num {
  font-family: serif;
  font-size: 44px;
  font-weight: 700;
}

.statistics__column-w40 {
  width: 100%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics__content {
  padding: 45px 80px;
}

.statistics__content p {
  font-weight: 600;
  font-size: calc(15px + 1 * ((100vw - 320px) / 980));
  line-height: 26px;
  margin-bottom: 20px;
}

.statistics__link {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  background-color: #ff8700;
  padding: 20px 0px;
  border-radius: 27px;
  width: 100%;
  max-width: 220px;
  -webkit-box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
          box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.statistics__link a {
  color: #fff;
  font-weight: 700;
}

.statistics__link:hover {
  -webkit-transform: translatey(10px);
      -ms-transform: translatey(10px);
          transform: translatey(10px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.statistics__link:active {
  opacity: 0.7;
}

.partners {
  padding: 100px 0px;
}

.partners__inner {
  margin-top: 80px;
}

.partners__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.partners__img {
  display: block;
  width: 100%;
  height: auto;
}

.news {
  padding: 100px 0px;
}

.news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 3px 0 20px rgba(1, 1, 1, 0.1);
          box-shadow: 3px 0 20px rgba(1, 1, 1, 0.1);
  padding: 20px 25px;
  min-width: 30%;
  border-radius: 20px;
  margin: 40px 15px;
}

.news__item h3 {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;
  color: #ff8700;
  font-weight: 600;
}

.news__item p {
  margin-top: 10px;
  text-align: center;
}

.news__item-img {
  overflow: hidden;
  border: radius 20px;
}

.news__item-img img {
  display: block;
  width: 100%;
  max-width: 355px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
}

.news__item-link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.news__item-link {
  background: url("../img/iconsprite/circle.svg") left no-repeat;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #ff8700;
  font-size: 18px;
  font-weight: 600;
}

.news__item-link img {
  height: 25px;
  width: 25px;
  padding: 6px 5px 6px 7px;
  background-color: #ff8700;
  border-radius: 50%;
  margin-left: 15px;
  -webkit-box-shadow: 0 0 10px rgba(255, 134, 0, 0.5);
          box-shadow: 0 0 10px rgba(255, 134, 0, 0.5);
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.news__item-link:hover img {
  -webkit-transform: translate(10px);
      -ms-transform: translate(10px);
          transform: translate(10px);
}

.news__item-date {
  font-size: 14px;
  color: #03a9f4;
}

.callform {
  padding: 50px 0px 150px;
}

.callform__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.callform__column {
  width: 100%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callform__title {
  font-size: calc(34px + 26 * ((100vw - 320px) / 980));
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  max-width: 500px;
}

.callform__title span {
  color: #03a9f4;
}

.callform__block-row {
  width: 100%;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  line-height: 1.7;
}

.callform__block-row p {
  font-size: 14px;
  color: #b0b3b4;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}

.callform__block-row input {
  border-bottom: 1px solid #b0b3b4;
  width: 100%;
  max-width: 270px;
  line-height: 1.8;
  font-size: 16px;
  color: #111111;
}

.callform__block-row-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.callform__block-row-checkbox p {
  color: #111111;
  margin: 0px 0px 0px 0px;
  text-transform: lowercase;
}

.callform__block-row-checkbox span {
  color: #03a9f4;
}

.callform__block-row-checkbox input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer {
  background-color: #0e3cac;
  padding: 40px 0px 50px 0px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 33%;
}

.footer__column h4,
.footer__column p,
.footer__column a {
  color: #fff;
}

.footer__column h4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__column a {
  margin: 5px 0px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer__column a :hover {
  color: #ff8700;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 12px;
}

.footer__logo p {
  max-width: 70%;
  margin: 0 auto;
}

.footer__logo img {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.footer__naw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1305px) {
  .container {
    max-width: 970px;
  }

  .intro__column img {
    width: 440px;
  }

  .intro__column-midle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .intro__column-link:last-child {
    margin-bottom: 0;
  }

  .intro__column {
    min-height: 525px;
  }

  .intro {
    min-height: 715px;
  }

  .header__social-link {
    margin: 0px 5px;
  }

  .header__social-link:first-child {
    margin-left: 0;
  }

  .header__social-link:last-child {
    margin-right: 0;
  }

  .header__nav-link:first-child {
    margin-left: 0;
  }

  .header__nav-link:last-child {
    margin-right: 0;
  }

  .header__logo img {
    height: 67px;
  }

  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 70px 0px;
  }

  .about__textarea {
    background-color: #fff;
    padding: 40px 30px;
    min-width: 515px;
    left: 0px;
  }

  .about__link {
    top: -70px;
    left: -20px;
  }

  .about__column img {
    left: 30px;
    position: relative;
  }

  .statistics__column-w60 {
    max-width: 35%;
  }

  .statistics__column-w40 {
    max-width: 65%;
  }

  .statistics__item {
    min-width: 100%;
    min-height: 150px;
    text-align: center;
    padding: 30px;
  }

  .statistics__content {
    max-width: 500px;
  }

  .news {
    padding: 50px 0;
  }
}

@media (max-width: 1095px) {
  .intro__column img {
    width: 380px;
  }

  .intro {
    margin-bottom: 140px;
  }

  .title__block {
    min-height: 120px;
  }

  .title__block-text h1 {
    top: 30%;
  }

  .benefits__inner {
    margin-top: 30px;
  }
}

@media (max-width: 1035px) {
  .intro__column {
    min-width: 40%;
  }

  .intro__column-midle {
    min-width: 20%;
  }

  .about__inner {
    margin: 40px 20px;
  }

  .about__column {
    max-width: 100%;
  }

  .about__column img {
    width: 570px;
    position: relative;
    left: 30px;
  }

  .about__column:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .about__textarea {
    max-width: 700px;
    top: -80px;
    left: -70px;
    letter-spacing: 0.2px;
    line-height: 22px;
  }

  .about__link {
    top: -40px;
    left: 0;
    font-size: 20px;
  }

  .about__link-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 991px) {
  .header__container.container {
    max-width: 900px;
    margin: 0 auto;
  }

  .intro__column img {
    width: 300px;
  }

  .intro__column {
    min-width: 33.333%;
  }

  .intro__column-link {
    margin: 10px 0px;
  }

  .intro__column {
    min-height: 450px;
  }

  .intro {
    min-height: 615px;
  }

  .about__column {
    max-width: 100%;
  }

  .about__column img {
    width: 570px;
    position: relative;
    left: 0;
  }

  .about__textarea {
    max-width: 570px;
    top: -80px;
    left: 0;
  }

  .benefits__item:last-child {
    margin-left: 100px;
  }

  .benefits__item:nth-child(8) {
    margin-right: 130px;
  }

  .title__block img {
    display: block;
    width: auto;
    height: 148px;
  }

  .news__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news__item {
    width: 100%;
    max-width: 500px;
    margin: 20px 0px;
  }
}

@media (max-width: 910px) {
  .header__container.container {
    max-width: 800px;
    margin: 0 auto;
  }

  .header__nav-link {
    margin: 0px 5px 0px 5px;
  }
}

@media (max-width: 815px) {
  .intro__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }

  .intro__column-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
  }

  .intro__column-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro__column-3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 50%;
  }

  .intro__column-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    width: 100%;
  }

  .intro__column-link {
    margin: 0 25px;
  }

  .intro__column-link-1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .intro__column-link-2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .intro__column-link-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -200%;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    display: block;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    z-index: 999;
    margin-top: 100px;
    padding: 30px 50px 120px;
    border-top: 1px solid #b0b3b4;
    -webkit-transition: ease 0.8s;
    -o-transition: ease 0.8s;
    transition: ease 0.8s;
    border-radius: 150% 0 0 150%;
  }

  .menu.active {
    right: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    border-radius: 0;
  }

  .header__nav-link {
    margin: 0;
    text-align: center;
  }

  .header__nav-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__nav {
    text-align: center;
  }

  .header__nav-link:last-child {
    margin-left: 0px;
  }

  .header__nav-link:first-child {
    margin-right: 0px;
  }

  .header__nav-link {
    margin: 18px 0px 18px 0px;
    background-color: #03a9f4;
    padding: 20px 0px;
    border-radius: 27px;
    width: 100%;
    max-width: 220px;
    -webkit-box-shadow: 0px 8px 20px rgba(3, 169, 244, 0.3);
            box-shadow: 0px 8px 20px rgba(3, 169, 244, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header__nav-link a {
    color: #fff;
    font-size: 20px;
  }

  .header__nav-link a:hover {
    color: #fff;
  }

  .header__nav-link:hover {
    -webkit-transform: translatey(10px);
        -ms-transform: translatey(10px);
            transform: translatey(10px);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }

  .header__nav-link:active {
    opacity: 0.7;
  }

  .header {
    padding: 0 70px;
  }

  .toggle {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    translate: ease 0.2s;
  }

  .toggle div {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #03a9f4;
    margin: auto 0;
  }

  .toggle div:nth-child(2) {
    width: 30px;
  }

  .toggle:hover span {
    background-color: #0e3cac;
  }

  .toggle.active {
    position: relative;
    translate: ease 0.2s;
  }

  .toggle.active div:nth-child(1) {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .toggle.active div:nth-child(2) {
    height: 0;
  }

  .toggle.active div:nth-child(3) {
    position: absolute;
    bottom: 40%;
    right: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .header__container {
    padding-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__container .header-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 20%;
  }

  .header__container .header-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 15%;
  }

  .header__container .header-3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 40%;
  }

  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__logo {
    bottom: 10px;
  }

  .header__social-block {
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__social-link {
    height: 30px;
  }

  .intro {
    margin-top: 100px;
  }
}

@media (max-width: 762px) {
  .title__block-text h1 {
    font-size: 40px;
    top: 40%;
    left: 18.7%;
  }

  .title__block-text span {
    font-size: 80px;
  }

  .title__block {
    margin: 0px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title__block-text {
    min-width: 330px;
  }

  .benefits__item {
    max-width: 50%;
    margin: 20px 0px;
  }

  .benefits__item:last-child {
    display: none;
  }

  .title__block img:nth-child(2) {
    height: 150px;
    display: block;
    width: auto;
  }

  .title__block-text {
    min-width: auto;
  }

  .statistics__content {
    padding: 20px 20px;
    max-width: 340px;
  }

  .statistics__column-w40 {
    max-width: 45%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 5px;
  }

  .statistics__column-w60 {
    max-width: 50%;
  }

  .statistics__item {
    min-height: 100px;
    padding: 10px;
    margin: 15px;
  }

  .statistics {
    padding: 50px 0;
  }

  .partners__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__block-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 50%;
    margin: 20px 0px;
  }

  .partners__block-img:last-child {
    min-width: 100%;
  }

  .partners__block-img img {
    width: 200px;
  }

  .partners__inner {
    margin-top: 20px;
  }

  .callform__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .callform__column {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 660px) {
  .header {
    padding: 0 10px;
  }

  .intro__column-link {
    margin: 0 15px;
  }

  .intro__column-link-2 {
    margin-left: 0;
  }

  .intro__column-link-3 {
    margin-right: 0;
  }

  .about__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__column:nth-child(2) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
  }

  .intro {
    margin-bottom: 70px;
  }

  .statistics__content {
    max-width: 100%;
    text-align: center;
  }

  .statistics__column-w40 {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }

  .statistics__column-w60 {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .statistics__item {
    width: 100%;
    max-width: 400px;
  }

  .title__block-img-3 {
    display: none;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__inner .footer-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 50%;
  }

  .footer__inner .footer-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__inner .footer-2 img {
    margin-bottom: 5px;
  }

  .footer__inner .footer-3 {
    min-width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 610px) {
  .intro__column {
    min-width: 100%;
  }

  .intro__column img {
    margin: 20px 0px 20px 0px;
    width: 400px;
  }

  .about__column img {
    width: 470px;
  }

  .about__textarea {
    max-width: 470px;
    top: -50px;
    left: 0;
    letter-spacing: 0px;
    padding: 30px 15px;
    min-width: 0;
  }

  .about__link-block {
    min-width: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .about__link {
    font-size: 16px;
    font-weight: 500;
  }

  .title__block {
    text-align: center;
  }

  .title__block.title__block-img-3 {
    display: none;
  }

  .callform__title {
    margin-left: 30px;
  }
}

@media (max-width: 500px) {
  .header__logo img {
    height: 47px;
  }

  .header {
    height: 70px;
  }

  .intro {
    margin-top: 70px;
  }

  .header__logo {
    bottom: 8px;
  }

  .intro__column-link {
    margin: 0 5px;
  }

  .menu {
    margin-top: 70px;
  }

  .news__item {
    max-width: 400px;
  }
}

@media (max-width: 475px) {
  .intro__column-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0px 20px 0px;
  }

  .intro__column-link {
    margin: 10px 5px;
    width: 100%;
  }

  .intro__column-link-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 320px;
  }

  .intro__column-link-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 155px;
  }

  .intro__column-link-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 155px;
  }

  .intro__column-link:last-child {
    margin: 10px 5px;
  }

  .title__block-text h1 {
    font-size: 30px;
    top: 45%;
    left: 18.2%;
  }

  .title__block-text span {
    font-size: 70px;
  }

  .title__block {
    margin: 0px 5px;
  }

  .title__block-text {
    min-width: 300px;
  }

  .about__link {
    font-size: 14px;
    padding-left: 5px;
  }

  .about__link img {
    margin-left: 5px;
  }

  .title__block-text {
    min-width: auto;
  }

  .title__block img:nth-child(2) {
    display: none;
  }

  .title__block-revers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits {
    padding: 10px 0;
  }

  .about__inner {
    margin: 40px 20px 0;
  }

  .benefits__item {
    max-width: 100%;
    margin: 20px 0;
  }

  .benefits__item p {
    font-weight: 600;
  }

  .partners__block-img {
    min-width: 100%;
  }

  .partners {
    padding: 40px 0;
  }

  .callform {
    padding: 50px 0 50px;
  }

  .footer {
    background-color: #0e3cac;
    padding: 40px 0 0;
  }
}

@media (max-width: 425px) {
  .intro__column img {
    width: 310px;
  }

  .about__textarea {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 10px;
    text-align: center;
  }

  .about__column img {
    width: 100%;
  }

  .title__block img {
    display: none;
  }

  .title__block {
    margin: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 90px;
  }

  .title__block-text h1 {
    font-size: 40px;
    top: 40%;
    left: 19.3%;
  }

  .title__block-text span {
    font-size: 80px;
  }

  .about__inner {
    margin: 20px 5px;
  }

  .about__link {
    background-color: #ff8700;
    padding: 20px 10px;
    border-radius: 27px;
    width: 100%;
    -webkit-box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
            box-shadow: 0px 8px 40px rgba(255, 135, 0, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: calc(13px + 3 * ((100vw - 320px) / 980));
  }

  .about__link:hover {
    -webkit-transform: translatey(10px);
        -ms-transform: translatey(10px);
            transform: translatey(10px);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .about__link:active {
    opacity: 0.7;
  }

  .about__link img {
    display: none;
  }

  .statistics__column-w60 {
    margin: 0 auto;
    width: 100%;
    max-width: 310px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news__item {
    max-width: 310px;
    padding: 10px 10px;
  }

  .news__inner {
    margin-top: 0;
  }
}

@media (max-width: 375px) {
  .header__logo img {
    height: 40px;
  }

  .header__logo {
    bottom: 5;
  }

  .header__container .header-2 {
    min-width: 10%;
  }

  .header__social-link {
    margin: 0 3px;
  }

  .about__link {
    padding: 20px 3px;
    font-weight: 400;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer__inner .footer-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 100%;
    margin-bottom: 25px;
  }

  .footer__inner .footer-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__inner .footer-2 img {
    margin-bottom: 5px;
  }

  .footer__inner .footer-3 {
    min-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 350px) {
  .intro__column-link-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 300px;
  }

  .intro__column-link-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 140px;
  }

  .intro__column-link-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-width: 140px;
  }
}